@font-face {
	font-family: "First Order";
	src: url("./fonts/firstorder.woff") format("woff");
}
*:not(input) {
	user-select: none;
}
:root {
	--color-primary: #00cc99;
	--color-accent: #9966cc;
}
body {
	font-family: "First Order", sans-serif;
	color: #e6e6e6;
	margin: 0 auto;
	font-size: 20px;
	background: url("img/bg.webp"), linear-gradient(var(--color-primary), var(--color-accent));
	background-size: cover;
	background-position: center;
	background-attachment: fixed;
	--vh: 100vh;
}
img {
	-webkit-user-drag: none;
}
h1, h2, h3, h4, h5, h6 {
	text-align: center;
	letter-spacing: 1px;
	line-height: 1.75rem;
	margin-top: 0;
}
figure {
	margin: 0;
}
p {
	font-family: sans-serif;
}
p strong {
	font-family: "First Order", sans-serif;
}
header {
	transition: all 250ms ease-in-out;
}
header figure {
	display: flex;
	justify-content: center;
	align-items: center;
	padding: 12px;
	background: linear-gradient(180deg , #000, transparent);
}
header figure img {
	height: auto;
	filter: drop-shadow(0px 5px 10px rgba(0,0,0,0.5));
	transition: all 250ms ease-in-out;
}
header figure figcaption {
	font-family: "First Order", sans-serif;
	font-size: 4em;
	font-weight: bold;
	margin-left: 0.25em;
	color: var(--color-primary);
	transition: all 250ms ease-in-out;
}
header.fixed {
	position: fixed;
	top: 0;
	left: 0;
	right: 0;
	z-index: 2;
	background-color: rgba(255,255,255,0.5);
	backdrop-filter: blur(10px);
	box-shadow: 0 10px 10px rgba(0,0,0,0.25);
}
header.fixed.inverted {
	background-color: rgb(0,0,0,0.65);
}
header.fixed figure img {
	filter: none;
}
header.fixed figure figcaption {
	-webkit-text-stroke: unset;
}
section div {
	display: flex;
	justify-content: center;
}
section div:first-of-type {
	margin-bottom: -24px;
}
section div:last-of-type {
	margin-top: -24px;
}
section div:nth-of-type(2) {
	justify-content: space-between;
}
section div figure {
	width: auto;
	position: relative;
}
section div figure img {
	object-fit: contain;
	filter: drop-shadow(0px 5px 10px rgba(0,0,0,0.5));
}
section div figure figcaption {
	position: absolute;
	top: -28px;
	left: 50%;
	font-size: 1em;
	letter-spacing: 2px;
	white-space: nowrap;
	font-family: sans-serif;
	transform: translateX(-50%);
	filter: drop-shadow(0px 3px 5px rgba(0,0,0,0.75));
}
main {
	padding: 80px 12px;
	backdrop-filter: blur(10px);
}
main:first-of-type {
	background-color: rgba(0,0,0,0.25);
}
main:last-of-type {
	color: #333;
	background-color: rgba(255,255,255,0.5);
}
main article {
	margin: 0 auto;
	max-width: 900px;
}
main article > div {
	display: grid;
	column-gap: 12px;
	row-gap: 24px;
	margin-top: 48px;
}
main article div figure {
	position: relative;
	transition: all 250ms ease-in-out;
	text-align: center;
	cursor: pointer;
}
main article div figure img {
	width: calc(100% - 24px);
	height: auto;
	object-fit: contain;
	border-radius: 8px;
	transition: all 250ms ease-in-out;
}
main article div figure figcaption {
	display: flex;
	justify-content: center;
	align-items: center;
	flex-wrap: wrap;
	position: absolute;
	bottom: 0;
	left: 50%;
	right: 0;
	width: calc(100% - 24px);
	height: 98px;
	padding: 12px 0;
	transform: translateX(-50%);
	background-color: rgba(255,255,255,0.1);
	backdrop-filter: blur(10px);
	border-bottom-left-radius: 8px;
	border-bottom-right-radius: 8px;
	font-size: 1em;
	color: whitesmoke;
	transition: all 250ms ease-in-out;
}
main article div figure figcaption h3 {
	margin-bottom: 0;
}
main article div figure figcaption span {
	font-family: sans-serif;
	font-size: .75em;
	width: 100%;
	letter-spacing: 2px;
}
main article div figure:hover img {
	box-shadow: 0 0 10px 5px var(--color-accent);
}
main article div figure.inverted figcaption {
	color: #333;
	background-color: rgba(0,0,0,0.1);
}
main article div figure:hover figcaption {
	width: calc(100% - 22px);
	background-color: var(--color-accent);
}
main article div figure.inverted:hover figcaption {
	color: whitesmoke;
}
main article p {
	text-align: justify;
}
main article strong {
	font-size: 1.25em;
}
main article > h3:last-of-type {
	margin-top: 80px;
}
main aside {
	display: grid;
	text-align: center;
}
main aside span {
	padding: 0 12px;
}
main aside span .emoji {
	font-size: 4rem;
	margin-bottom: 14px;
}
footer {
	height: 400px;
}
#tsparticles canvas {
	position: unset !important;
}
.emoji {
	font-family: "Apple Color Emoji", "Segoe UI Emoji", NotoColorEmoji, "Segoe UI Symbol", "Android Emoji", EmojiSymbols, "EmojiOne Mozilla" !important;
	font-weight: 400 !important;
}
@media screen and (min-width: 415px) {
	h1 {
		font-size: 3em;
	}
	h2 {
		font-size: 1.75em;
	}
	h3 {
		font-size: 1.35em;
	}
	header figure img {
		width: 120px;
	}
	header.fixed figure img {
		width: 80px;
	}
	header.fixed figure figcaption {
		font-size: 3em;
	}
	section {
		width: 340px;
		margin: 96px auto 48px;
	}
	section div figure img {
		width: 100px;
		height: 100px;
	}
	main article div {
		grid-template-columns: 33.333% 33.333% 33.333%;
	}
	main aside {
		grid-template-columns: 33.333% 33.333% 33.333%;
	}
}
@media screen and (max-width: 414px) {
	h1 {
		font-size: 1.9em;
	}
	h2 {
		font-size: 1.1em;
	}
	h3 {
		font-size: 1.1em;
	}
	header figure img {
		width: 80px;
		object-fit: contain;
	}
	header figure figcaption {
		font-size: 2.75em;
	}
	header.fixed figure img {
		width: 60px;
	}
	header.fixed figure figcaption {
		font-size: 2.25em;
	}
	section {
		width: 260px;
		margin: 48px auto;
	}
	section div figure img {
		width: 80px;
		height: 80px;
	}
	main article div {
		grid-template-columns: 50% 50%;
	}
}